<form action="/names" method="post">
  <label for="name">Player 1:</label>
  <input type="text" id="name" name="player_one"/>

  <label for="name2">Player 2:</label>
  <input type="text" id="name2" name="player_two"/>

  <button type="submit">Fight!</button>
</form>
