<link rel="stylesheet" href="index.css">

<form action="/names" method="post">
  <div id="p1">
    <label for="name">Player 1:</label>
    <input type="text" id="name" name="player_one"/>
  </div>

  <div id="p2">
    <label for="name2">Player 2:</label>
    <input type="text" id="name2" name="player_two"/>
  </div>

  <button id="button" type="submit"><span>Fight!</span></button>
</form>
